.selectPage {
  font-weight: bold;
  background: linear-gradient(
    rgb(66, 121, 224),
    rgb(18, 70, 168),
    rgb(27, 66, 139),
    rgb(4, 34, 92)
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.pages {
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.arrow {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background: linear-gradient(
    rgb(66, 121, 224),
    rgb(18, 70, 168),
    rgb(27, 66, 139),
    rgb(4, 34, 92)
  );
  color: white;
  cursor: pointer;
}
.arrow img {
  width: 15px;
}
