.ava {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.selectPage {
  font-weight: bold;
  background: linear-gradient(
    rgb(66, 121, 224),
    rgb(18, 70, 168),
    rgb(27, 66, 139),
    rgb(4, 34, 92)
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.usersWrapper {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  background-repeat: 20px;
}

.pages {
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.photoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoWrapper img:hover {
  cursor: pointer;
}

.infoWrapper {
  margin-left: 5%;
}

.userName {
  color: rgb(11, 34, 163);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: default;
}
.userName a {
  text-decoration: none;
}
.userName a:visited {
  text-decoration: none;
  color: rgb(11, 34, 163);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: default;
}

.userStatus {
  color: rgb(104, 104, 104);
  font-size: 0.8rem;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.arrow {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background: linear-gradient(
    rgb(66, 121, 224),
    rgb(18, 70, 168),
    rgb(27, 66, 139),
    rgb(4, 34, 92)
  );
  color: white;
  cursor: pointer;
}
.arrow img {
  width: 15px;
}
