@font-face {
    font-family: "DansingScript";
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts/Dancing_Script/DancingScript-Bold.ttf) format('truetype');
}
.header {
    grid-area: h;
    background: linear-gradient( rgb(66, 121, 224), rgb(18, 70, 168), rgb(27, 66, 139), rgb(4, 34, 92));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;

}

h1 {
    font-family: "DansingScript";
    font-weight: 700;
    color: white;
    font-size: 35px;
    text-shadow: 5px 3px 4px rgb(2, 2, 2);
}

h1:hover {
    cursor: pointer;
    text-shadow: 3px 3px 4px rgba(2, 2, 2);
}

.logo {
    width: 50px;
}

.logo img {
    width: 40px;
    transition: 0.5s ease-in-out;
    
}

.logo img:hover {
    width: 50px;
    cursor: pointer;
}

.loginBlock, 
.loginBlock a {
    color: white;
    text-decoration: none;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 10%;

}

.loginWrapper {
    display: flex;
    align-items: center;
    
}

.loginButton {
   
    padding: 5px 10px ;
    border: 1px solid white;
    border-radius: 5%;
    position: relative;
    transition: 0.5s;
}

.loginButton:hover {
    border-radius: 20%;
    cursor: pointer;
}

