.nav {
    grid-area: n;
    background-color: rgb(131, 157, 241);
    padding: 20px;
    
}
.item {
    margin-bottom: 10px;
}

.item  a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(2, 2, 2);
    
}

.item a:hover {
    text-shadow: 4px 4px 4px rgba(2, 2, 2);
}

.item  .active {
    color: rgb(11, 34, 163);
}


.friends {
     margin-top: 50%;
}

.friends  {
    
    color: red;
}

.friends_items {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
}