img {
  width: 90%;
}

.description_Block {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.description_Block img {
  width: 30%;
  flex-shrink: 0;
}

.info {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info b {
  margin-right: 10px;
}
.info img {
  width: 20px;
}

.contact {
  padding-left: 15px;
}
