.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  background-color: darkgray;
}

.header img {
  width: 50px;
}

.app-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h" "n c";
  -ms-grid-rows: 60px 1fr;
      grid-template-rows: 60px 1fr;
  -ms-grid-columns: 2fr 10fr;
      grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  width: 1200px;
  margin: 0 auto;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: n;
  background-color: aqua;
}

.nav .item {
  color: white;
}

.nav .active {
  color: gold;
}

.main_content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
  background-color: bisque;
}
/*# sourceMappingURL=main.css.map */