.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}

.dialog {
    margin-bottom: 5px;

}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.message {
    padding: 5px;
}

.ava {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ava img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.messagesElements {
    flex-grow: 1;
}

.addMessage {
    width: 100%;
    position: relative;
}

.addMessage textarea {
    width: 80%;
}
